__pycache__/
*.py[cod]
*$py.class
*.pyc

*/*/*/__pycache__/

*/*/__pycache__/

*/__pycache__/

*.ipynb

.idea/
.vscode/
.ipynb_checkpoints/
celerybeat-schedule
celerybeat.pid
#migrations/
#static/
.env
*.gz
